<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>My Page</title>
    <meta name="description" content="A Cool Page">
    <meta name="author" content="Someone Cool">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Dependencies -->
    <script src="/static/lib/tailwindcss.3.2.4.js"></script>
    <script type="importmap">
        {  "imports": {
                "vue": "/static/lib/vue.3.2.45.esm-browser.prod.js",
                "vuerouter": "/static/lib/vue-router.4.1.6.esm-browser.js"
            }
        }
    </script>

</head>

<body>

<div id="mount"></div>
<script type="module">
    import main from "/static/example-91-spa/main.js"
    main();
</script>

</body>
</html>
